<!-- views/index.html -->
{{ define "index" }}
<!DOCTYPE html>
  <html>
    <head>
      <title>My Reading List</title>
      <script 
        src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.11/dist/htmx.min.js" 
        integrity="sha384-2OatzQy1H+Zd/IIrjr1TcuDGqLXeHhbooAyJY1KdQMKnr4LZ22k31GBLdYKHmVjg" 
        crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
      <header>
        <h1>My Reading List</h1>
      </header>

      <main>
        <div class="search" style="text-align: center;">
          <input 
            type="search"
            name="search"
            placeholder="Search by Title..." 
            hx-post="/books/search"
            hx-trigger="keyup changed delay:300ms"
            hx-target=".book-list"
          />
        </div>
        <span id="spinner" class="htmx-indicator">Carregando...</span>
        <div class="book-list" hx-get="/books" hx-trigger="load" hx-indicator="#spinner">
        </div>

        <div class="add-book-form">
          <h2>What do you want to read?</h2>
          {{ template "bookform" .Form }}
        </div>
      </main>
    </body>
  </html>
{{ end }}